{% extends 'main/base.html' %} {% block title %}Sign Up{% endblock %} 
{% load crispy_forms_tags %} {% block content %}
<!--<form method="post">-->
<!--  {% csrf_token %}{{form|crispy}}-->
<!--  <p>Есть аккаунт? Войти <a href="/authentication/sign-in">Тут</a>!</p>-->
<!--  <button type="submit" class="btn btn-success">Регистрация</button>-->
<!--</form>-->


<div class="container">
<form method="post">
{% csrf_token %}

  <div id="div_id_username" class="mb-3"> <label for="id_username" class="form-label requiredField">
                  Логин<span class="asteriskField">*</span> </label> <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" class="textinput form-control" required="" id="id_username"> <div id="hint_id_username" class="form-text"></div> </div> <div id="div_id_password1" class="mb-3"> <label for="id_password1" class="form-label requiredField">
                  Пароль<span class="asteriskField">*</span> </label> <input type="password" name="password1" autocomplete="new-password" class="passwordinput form-control" required="" id="id_password1"> <div id="hint_id_password1" class="form-text"><ul><li>Не менее 8-ми символов.</li></ul></div> </div> <div id="div_id_password2" class="mb-3"> <label for="id_password2" class="form-label requiredField">
                  Подтверждение пароля<span class="asteriskField">*</span> </label> <input type="password" name="password2" autocomplete="new-password" class="passwordinput form-control" required="" id="id_password2"> <div id="hint_id_password2" class="form-text">Повторно введите пароль.</div> </div> <div id="div_id_email" class="mb-3"> <label for="id_email" class="form-label requiredField">
                  Email<span class="asteriskField">*</span> </label> <input type="email" name="email" class="emailinput form-control" required="" id="id_email"> </div>

  <p>Есть аккаунт? Войти <a href="/authentication/sign-in">тут</a>!</p>
  <button type="submit" class="btn btn-success">Регистрация</button>
</form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}